<section class="forgot-password">
	<img src="img/logo.png" alt="2MC Logo">
	<form id="forgot-password-form" novalidate>
		<h1>Wachtwoord vergeten</h1>
		<p class="login-message" ng-if="message">{{message}}</p>
		<p>Voer hieronder je emailadres in en er wordt een mail naar je toegestuurd met een nieuw wachtwoord. Het is verstandig om vervolgens in de app je wachtwoord weer te wijzigen.</p>
		<input type="email" name="forgotPassword" id="forgot-password" placeholder="Emailadres">
		<button ng-click="forgotPassword($event)" type="submit" name="submit" id="submit">Verstuur</button>
		<a href="#/login">Terug naar login</a>
	</form>
</section>