<section class="menu">
	<div id="logo-container">
		<img id="logo-large" ng-src="img/logo.png" alt="2MC Logo White">
	</div>

	<!--<div class="hamburger-menu-container"><div class="hamburger-menu"></div></div>-->

	<nav>
		<!-- MENU LAB USER -->
		<ul ng-controller="NavigationCtrl">
			<li ng-class="{ active: isCurrentPath('/menu/route') }"><a ng-href="#/menu/route"><img src="img/navigate-icon.png" alt="Navigate icon"><span class="link-title">Route</span></a></li>
		</ul>


	</nav>
</section>

<section class="top-bar">
	<h1><!--<a href="javascript:;" ng-click="showHelp()" class="help-button"><span class="help-button-inner">?</span></a>--></h1>
	<h1 class="view-title" ng-if="viewTitle == 'Route'" ng-click="closeRouteCards()" style="cursor:pointer;">{{viewTitle}}</h1>
	<h1 class="view-title" ng-if="viewTitle != 'Route'">{{viewTitle}}</h1>
	<a class="logged-in-user">
		<img ng-src="img/down-arrow.png" class="mobile-down-arrow" alt="Down arrow">
		<img ng-if="!profileImageCurrentUser" ng-src="img/account-icon.png" id="account-icon" alt="Account icon">
		<img ng-if="profileImageCurrentUser" ng-src="{{profileImageCurrentUser}}" id="account-icon" alt="Profielfoto" style="border:1px solid #fff">
		<p>Welkom,<span id="name-container"><span id="name">{{username}}</span><img ng-src="img/down-arrow.png" alt="Down arrow"></span></p>
	</a>
</section>

<section class="hide logout-container">
	<p>Welkom, <strong>{{username}}</p>
	<button class="logout-button">Log uit</button>
	<a class="close-logout">&times;</a>
	<p class="user-role-top-menu"><span style="font-weight:700">Rol:</span> <span style="text-transform:capitalize;">{{role}}</span></p>
</section>

<section ui-view="menuContent" class="menuContent nativeScroll">
</section>