/* ---------- GENERAL STYLING ---------- */
@media(max-width:700px), (max-height: 400px) {
	.menuContent {
		overflow-y:scroll;
		overflow-x: hidden;
		width:100%;
		margin-left:0;
	}

	.menuContent section {
		width:90%;
		margin-left:5%;
	}

	.container {
		width:90%;
		margin:125px auto 30px auto;
		padding-top:1px;
		border-top:none;
	}

	.hero {
		margin-top:120px;
		margin-bottom:-70px;
		margin-left:0px;
	}
}







/* ---------- MENU ---------- */
@media(max-width:700px), (max-height: 400px) {
	.menu {
		width:100%;
		height:60px;
		transition:all 0.3s ease;
	}

	.full-height {
		height:100vh;
		overflow-y: scroll;
	}

	.full-height::-webkit-scrollbar {
		display: none;
	}

	.menu nav ul { 
		border-top:1px solid rgba(0,0,0,0.3);
		margin-top:15px;
	}

	.menu nav ul li img { 
		width:40px;
		padding:10px;
	}

	.menu nav ul li a { 
		padding-top:20px;
		padding-bottom:20px;
	}

	.top-bar {
		margin-top:60px;
		margin-left:0;
		width: 100%;
	}

	.top-bar .logged-in-user {
		right:20px;
	}

	.menu #logo-container {
		background-color:transparent;
		margin:0 auto;
		padding: 10px 0 0 15px;
		width:150px;
	}

	.hamburger-menu {
		content: "";
	    position: absolute;
	    display: block;
	    width: 16px;
	    right:0;
	    top: 0;
	    -webkit-box-shadow: 1px 10px 1px 1px #fff,1px 16px 1px 1px     #fff,1px 22px 1px 1px #fff;
	    box-shadow: 0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
	}

	.hamburger-menu-container {
		cursor: pointer;
		display: block;
		height:30px;
		width:16px;
		position: absolute;
		right:30px;
		top:15px;
	}

	.logout-container {
		top:120px;
	}
}

@media (max-width:700px) {
	.top-bar .logged-in-user {
		width:52px !important;
		overflow:hidden;
	}
	.top-bar .logged-in-user p {
		display: none;
	}
	.logout-container {
		left:0;
		right:0;
		margin:0 auto;
		width:120px;
	}
	.logout-container p {
		display: block;
		position: absolute;
		color:#fff;
		top:-70px;
		left:-25%;
		right:0;
		margin:0 auto;
		width:150%;
		text-align: center;
		text-overflow: ellipsis; 
		overflow: hidden; 
		white-space: nowrap;
	}
	.user-role-top-menu {
		top:-50px !important;
	}
	.mobile-down-arrow {
		display: inline-block;
		width:15px;
		padding-top:24px;
		padding-right:5px;
	}
}


















/* ---------- LOGIN ---------- */
@media (min-height:550px) {
	.login {
		position: absolute;
		margin:0 auto;
		top:45%;
		left:0;
		right:0;
		transform: translateY(-50%);
	}
}


















/* ---------- NO RESULTS ---------- */
@media (max-height:480px) {
	.no-results-container {
		height:100vh;
		width:100%;
		position:relative;
		display:block;
	}

	.no-results-container .no-results-inner-container {
		width:100%;
		position:absolute;
		top:150px;
		transform:inherit;
	}
}























/* ---------- FORGOT PASSWORD ---------- */
@media (min-height:650px) {
	.forgot-password {
		position: absolute;
		margin:0 auto;
		top:45%;
		left:0;
		right:0;
		transform: translateY(-50%);
	}
}



















/* ---------- PLANNING ---------- */
@media (max-height:650px) {

	.planning .signature-list li .signature-container {
		top:35%;
	}
}

@media (max-height:360px) {
	.planning .signature-list li .signature-container .signature-done {
		font-size:5vmin;
		border-bottom:solid 3px #1abc9c;
		padding:0;
		background: none;
		box-shadow: none;
	}
}

@media (max-width:420px) {
	.planning .signature-list li .signature-button {
		width:100% !important;
	}
}

@media(max-width:700px) {
	.datepicker {
		max-width:100% !important;
	}
}




















/* ---------- MESSAGES ---------- */
@media(max-width:700px), (max-height: 400px) {
	.messages .button-bar-container {
		margin-top:25px;
	}
}

@media(max-width:400px) {
	.button-bar-container-messages {
		text-align: center;
	}
}



















/* ---------- LABORATORIUM ---------- */
@media(max-width:700px), (max-height: 400px) {
	iframe.laboratoriumWebsite {
		width:100vw;
		margin:120px 0 0 0;
		height:calc(100vh - 120px);
	}
}